@font-face {
    font-family: 'JetBrainsMonoThin';
    src: url("/static/JetBrainsMono-Thin.ttf");
}

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url("/static/JetBrainsMono-Regular.ttf");
}

b {
    font-family: JetBrainsMonoRegular, Verdana, serif;
    font-weight: 100;
}

body {
    margin: 5% 10%;
    font-family: JetBrainsMonoThin, Verdana, serif;
    font-size: 14px;
}

div {
    padding: 0 0 5px 30px;
}

.array > .value > .text {
    font-family: JetBrainsMonoThin, Verdana, serif;
    text-decoration: underline;
    color: #700;
}

.number {
    font-family: JetBrainsMonoThin, Verdana, serif;
    color: #007;
}

.array > .value:not(:last-child)::after {
    content: ',';
}

.array > .value {
    display: inline;
    padding: 0;
}

img {
    width: 200px;
    border: #aaa 1px solid;
    padding: 3px;
}
